.play-container{
    background: #f9f9f9;
    padding: 5rem 2% 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 900px) {
    .play-container{
        padding-left: 5%;
        padding-right: 5%;
    }
    /* .play-container .video-container{
        width: 100%;
    }
    .play-container .video-container iframe{
        width: 100%;
    } */
}